*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .menu-section{
        background-color: #fff;
        margin-top: 80px;
  }


/*--------------------------------------------------------------
# delivery Section
--------------------------------------------------------------*/
.search-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  
}

.input-group .form-control {
  border-color: red; /* Change border color of the input to red */
}





.menu #menu-flters {
  padding: 0;
  margin: 0 auto 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;

}
 
.menu #menu-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px 10px 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: black;
  margin-bottom: 50px;
  margin-top: 30px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  font-family: "Playfair Display", serif;
}
 
.menu #menu-flters li:hover,
.menu #menu-flters li.filter-active {
  color: #ed2024;
}
 
.menu #menu-flters li:last-child {
  margin-right: 0;
}
 
.menu .menu-item {
  margin-bottom: 50px;
}
 
.menu .menu-img {
  width: 220px;
  height: 180px;
  border-radius: 20px;
  float: left;
  border: 2px solid rgba(31, 28, 28, 0.2);
  margin-right: 30px;
  
}
 
.menu .menu-content {
  
  margin-left: 85px;
  
  
  position: relative;
  
}
#menu .head{
  background-color: black;
  color: white;
  padding: 10px 0px;
}
#menu h1{
  text-align: center;
  font-size: 25px;
}
 
.menu .menu-content::after {
  /* content: "......................................................................" "...................................................................." "...................................................................."; */
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
 
.menu .menu-content a {
  padding-right: 10px;
  position: relative;
  z-index: 3;
  font-weight: 500;
  color:black;
  transition: 0.3s;
  background: white;
  text-decoration: none;
  width: 1px;
  height: 5px;
}
 
.menu .menu-content a:hover {
  color: #cda45e;
}
 
.menu .menu-content span {
  background: white;
  position: relative;
  z-index: 3;
  padding: 0 10px;
  font-weight: 600;
  color: black;
 
}
 
.menu .menu-ingredients {
  margin-left: 85px;
  font-style: italic;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: white;
}

#menu {
  background: white;
  color: black;
 
}
/*Tablet nhỏ(480 x 640)*/
@media (max-width: 430px){
  .menu .menu-img{
    width: 100%;
  }
  .menu .menu-content{
    margin-left: 0px;
    text-align: center;
  }

  .menu button{
    margin-left: 40px;
}
}
@media (max-width:767px){
  .menu{
  max-width: 767px; 
  }
 
}

button {
  background: none;
  border: 3px solid #ed2024;
  font: inherit;
  line-height: 1;
  padding:0.5em;
  font-weight: bold;
  width: 110px;
  font-style: normal;
  
}
button {
  color: #ed2024;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  
}
button:hover, button:focus {
  border-color: var(--hover);
  /* color: #ed2024; */
}
.pulse {
  --color: #ef6eae;
  --hover: #ef8f6e;
}

.pulse:hover,
		.pulse:focus {
			-webkit-animation: pulse 1s;
			animation: pulse 1s;
			box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
		}

		@-webkit-keyframes pulse {
			0% {
				box-shadow: 0 0 0 0 var(--hover);
			}
		}

		@keyframes pulse {
			0% {
				box-shadow: 0 0 0 0 var(--hover);
			}
		}



    .quantity-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .btn-group {
      display: flex;
      align-items: center;
    }

    
    @media (max-width: 767.98px) and (min-width: 430px){
      .quantity-container {
        flex-direction: row;
      }

      .total {
        margin-left: 40px;
      }

      .btn-group {
        margin-left: 30px;
      }
      .search-container {
        max-width: 600px;
      }

      
    }

    @media ((max-width: 429px)){
      .btn-group {
        margin-left: 0px;
        width: 100px;
      }
      .total {
        margin-left: 36px;
        font-size: 10px;
      }
      .search-container {
        max-width: 300px;
      }
      /* .input-group .btn-search {
        display: none;
      } */
      


    }
  