{% extends "home/base.html" %}
{%load static%}

{% block delivery_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'deliveries/css/delivery-new.css' %}">
{% endblock delivery_css%} 

<!-- Begin Delivery page-->
{% block delivery_html  %}
    <!-- Begin Delivery-->
    <div class="delivery">
        <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
            <div class="head">
                <h1>DELIVERY</h1>
            </div>

            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-6 search-container search">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control " placeholder="Search..." aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger btn-search" type="button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-starters">Beef</li>
                        <li data-filter=".filter-salads">Chicken</li>
                        <li data-filter=".filter-specialty">Soup &amp; Salad</li>
                        <li data-filter=".filter-specialty">Drink</li>
                    </ul>
                </div>
            </div>
            
            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                {% for  menuItem in  menuItems %}
                <div class="col-lg-6 menu-item filter-starters">
                    <img src="{{ menuItem.ImageURL}}" class="menu-img" alt="dish">
                    <div class="menu-content">
                        <a href="#">{{ menuItem.name}}</a>
                        <span class="price_items">{{ menuItem.price.amount}} {{menuItem.price.currency}}</span>
                    </div>

                    <div class="menu-ingredients">
                        <br>
                        <button class="pulse " data-bs-toggle="modal" data-bs-target="#detailsModal">View Detail</button>
                        <br>
                        <br>
                        <button class="pulse">Add to cart</button>
                    </div>

                </div>

                <!-- Modal -->
                <div class="modal" id="detailsModal">
                    <div class="modal-dialog custom_modal">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h3 class="modal-title ">{{ menuItem.name}}</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="modal-body clearfix">                               
                                    <h5 class="name_item float-start">{{ menuItem.name}}</h5>
                                    <h5 class="price_item float-end" style="color: #ed2024;">{{ menuItem.price.amount}}. {{menuItem.price.currency}}</h5>
                                </div>
                                {% comment %} load data {% endcomment %}
                                <select class="form-select ">
                                    <option>Weight</option>  
                                    <option>200g</option>
                                    <option>500g</option>
                                    <option>1000g</option>
                                </select>

                                <select class="form-select mt-3">
                                    <option>Doneness</option>  
                                    <option>Well done</option>
                                    <option>Medium well</option>
                                    <option>Medium</option>
                                    <option>Medium rare</option>
                                    <option>Rare</option>
                                </select>
                                <p class="descr mx-1 my-3">This is descriptions {{ menuItem.description}}</p>
                                                    
                            </div>
                            
                    
                            <!-- Modal footer -->
                            <div class="container" style="background-color: #f2f2f2;">
                                <div class="row mx-2  quantity-container">
                                    <div class="col-6 col-md-8 ">
                                        <h5 class="quantity ">Quantity</h5>
                                    </div>

                                    <div class="col-6 col-md-4 text-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-danger btn-light border border-danger" style="color: #111; width:40px;"> - </button>
                                            <button type="button" class="btn btn-light border border-danger" style="width:50px;">1</button>
                                            <button type="button" class="btn btn-outline-danger btn-light border border-danger" style="color: #111; width:40px;"> + </button>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-3  quantity-container">
                                    <div class="col-6 col-md-8 ">
                                        <h5 class="quantity ms-4">Total</h5>
                                    </div>

                                    <div class="col-6 col-md-4 text-right">
                                        <div class="total" style="color: #ed2024;">
                                           <h5>{{ menuItem.price.amount}} {{menuItem.price.currency}}</h5>
                                        </div>
                                    </div>

                                </div>

                                

                            </div>
                        
                            <button id="" data-product={{product.id}} data-action="add" class="mt-2 btn btn-outline-danger add-btn update-cart mx-auto mb-2" style="width:300px;border-radius: 10px;">Add to cart</button>

                        </div>

                    </div>
                </div>
                {% endfor %}
                
            </div>
        </section>

    </div>
{% endblock delivery_html  %}
<!-- end Delivery page-->

{% comment %} JS delivery {% endcomment %}
{% block delivery_js %}
    <script>
        $(document).ready(function() {      
        // Xử lý sự kiện khi nhấp vào mỗi data-filter
            $('#menu-flters li').click(function() {
                // Lấy giá trị data-filter của mục được nhấp
                var filterValue = $(this).attr('data-filter');
                
                // Ẩn tất cả các menu-item
                $('.menu-item').hide();
                
                // Hiển thị các menu-item phù hợp với data-filter được chọn
                if (filterValue === '*') {
                $('.menu-item').show();
                } else {
                $(filterValue).show();
                }
                
                // Thêm lớp 'filter-active' cho mục được nhấp và xóa lớp này khỏi các mục khác
                $(this).addClass('filter-active').siblings().removeClass('filter-active');
            });
        });
    </script>  
{% endblock delivery_js %} 

