{% extends "home/base.html" %}
{%load static%}

{% block delivery_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'deliveries/css/delivery-new.css' %}">
{% endblock delivery_css%} 

<!-- Begin Delivery page-->
{% block delivery_html  %}
    <!-- Begin Delivery-->
    <div class="delivery">
        <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
            <div class="head">
                <h1>DELIVERY</h1>
            </div>

            <div class="container">
                <div class="row justify-content-center mt-5">
                    <div class="col-6 search-container search">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control " placeholder="Search..." aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger btn-search" type="button">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter="POPULAR">Popular</li>
                        <li data-filter="BEEF">Beef</li>
                        <li data-filter="SOUP">Soup &amp; Salad</li>
                        <li data-filter="DRINK">Drink</li>
                    </ul>
                </div>
            </div>
            
            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                {% for  menuItem in  menuItems %}
                <div class="col-lg-6 menu-item" data-type="{{menuItem.item_type}}">
                    <img src="{{ menuItem.ImageURL}}" class="menu-img" alt="">
                    
                    <div class="menu-content ">
                        <a href="#">{{ menuItem.name}} </a>
                        <p>Gene:{{menuItem.item_type}} </p>
                        <div class="price-item" style="font-weight: 500;">{{ menuItem.price.amount}} {{menuItem.price.currency}}</div>

                    </div>
        
                    <div class="menu-ingredients">
        
                        <button class="pulse btn-view mt-2"  data-bs-toggle="modal" data-bs-target="#detailsModal{{forloop.counter}}">View Detail</button>
                        
                    </div>
                </div>
        
                <!-- Modal -->
                <div class="modal " id="detailsModal{{ forloop.counter}}">
                    <div class="modal-dialog custom_modal">
                        <div class="modal-content">
                    
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h3 class="modal-title " >{{ menuItem.name}}</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
                            </div>
                    
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="modal-body clearfix " >                               
                                    <h6 class="name_item float-start" style="font-size: 18px">{{ menuItem.name}}</h6>
                                    <h6 class="price_item float-end" style="color: #ed2024;font-size: 18px;">{{ menuItem.price.amount}} {{menuItem.price.currency}}</h6>
                                </div>
                                
                                {% comment %} load data {% endcomment %}
                                <select class="form-select ">
                                    <option>Weight</option>  
                                    <option>200g</option>
                                    <option>500g</option>
                                    <option>1000g</option>
                                </select>
        
                                <select class="form-select mt-3">
                                    <option>Doneness</option>  
                                    <option>Well done</option>
                                    <option>Medium well</option>
                                    <option>Medium</option>
                                    <option>Medium rare</option>
                                    <option>Rare</option>
                                </select>
                                <p class="descr mx-1 my-3">This is descriptions {{ menuItem.description}}</p>
                                                    
                            </div>
                            
                    
                            <!-- Modal footer -->
                            <div class="container" style="background-color: #f2f2f2;">
                                <div class="row mx-2  quantity-container">
                                    <div class="col-6 col-md-8 ">
                                        <h5 class="quantity " style="font-size: 18px">Quantity</h5>
                                    </div>
        
                                    <div class="col-6 col-md-4 text-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-outline-danger btn-light border border-danger decrease-quantity" style="color: #111; width:40px;" data-price="{{ menuItem.price.amount }}"> - </button>
                                            <button type="button" class="btn btn-light border border-danger quantity-display" style="width:50px;">1</button>
                                            <button type="button" class="btn btn-outline-danger btn-light border border-danger increase-quantity" style="color: #111; width:40px;" data-price="{{ menuItem.price.amount }}"> + </button>
                                        </div>
                                    </div>
        
                                </div>
        
                                <div class="row mt-3  quantity-container">
                                    <div class="col-6 col-md-8 ">
                                        <h5 class="quantity  ms-4" style="font-size: 18px">Total</h5>
                                    </div>
        
                                    <div class="col-6 col-md-4 text-right">
                                        <div class="total" style="color: #ed2024;">
                                            <h5 class="total-amount" style="font-size: 18px"> {{ menuItem.price.amount}} {{menuItem.price.currency}}</h5>
                                        </div>
                                    </div>
        
                                </div>
        
                            </div>
                        
                            <button id="add-to-cart-btn-{{menuItem.id}}" data-product="{{ menuItem.id }}"  class="mt-2 btn btn-outline-danger add-btn update-cart mx-auto mb-3" style="width:300px;border-radius: 10px; font-weight:500"><a href="#" >Add to cart</a></button>
                            {% comment %} <button id="remove-from-cart-btn-{{menuItem.id}}"  class="mt-2 btn btn-outline-danger remove-btn remove-cart mx-auto mb-3" style="width:300px;border-radius: 10px; font-weight:500; display:none;">Remove to cart</button> {% endcomment %}

                        </div>
        
                    </div>
                </div>
                {% endfor %}
            
            </div>

        </section>

    </div>
{% endblock delivery_html  %}
<!-- end Delivery page-->

{% comment %} JS delivery {% endcomment %}
{% block delivery_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(function() {
            // Xử lý sự kiện khi nhấp vào mỗi data-filter
            $('#menu-flters li').click(function() {
                // Lấy giá trị data-filter của mục được nhấp
                var filterValue = $(this).attr('data-filter');
    
                // Ẩn tất cả các menu-item
                $('.menu-item').hide();
    
                // Hiển thị các menu-item phù hợp với data-filter được chọn
                if (filterValue === '*') {
                    $('.menu-item').show();
                } else {
                    $('.menu-item').each(function() {
                        var type = $(this).data('type');
                        if (type === filterValue) {
                            $(this).show();
                        }
                    });
                }
    
                // Thêm lớp 'filter-active' cho mục được nhấp và xóa lớp này khỏi các mục khác
                $(this).addClass('filter-active').siblings().removeClass('filter-active');
            });
        });
    </script>


    {% comment %} Cũ {% endcomment %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var decreaseButtons = document.querySelectorAll('.decrease-quantity');
            var increaseButtons = document.querySelectorAll('.increase-quantity');
            var quantityDisplays = document.querySelectorAll('.quantity-display');
            var addToCartButton = document.getElementById('add-to-cart-btn'); 
            var totalAmounts = document.querySelectorAll('.total-amount');
            
            // Biến toàn cục để lưu trữ tổng tiền của tất cả các sản phẩm
            var totalValues = [];
            
            // Biến toàn cục để lưu trữ số lượng của tất cả các sản phẩm
            var quantities = [];
        
            decreaseButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    var quantityDisplay = quantityDisplays[index];
                    var totalAmount = totalAmounts[index];
                    var price = parseFloat(button.getAttribute('data-price'));
                    var quantity = parseInt(quantityDisplay.innerText);
        
                    if (quantity > 1) {
                        quantity--;
                        quantityDisplay.innerText = quantity;
                        var total = (quantity * price).toFixed(0) + " VND";
                        totalAmount.innerText = total;
                        // Lưu giá trị tổng tiền và số lượng vào mảng toàn cục
                        totalValues[index] = (quantity * price).toFixed(0);
                        quantities[index] = quantity;
                    }
                });
            });
        
            increaseButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    var quantityDisplay = quantityDisplays[index];
                    var totalAmount = totalAmounts[index];
                    var price = parseFloat(button.getAttribute('data-price'));
                    var quantity = parseInt(quantityDisplay.innerText);
        
                    quantity++;
                    quantityDisplay.innerText = quantity;
                    var total = (quantity * price).toFixed(0) + " VND";
                    totalAmount.innerText = total;
                    // Lưu giá trị tổng tiền và số lượng vào mảng toàn cục
                    totalValues[index] = (quantity * price).toFixed(0);
                    quantities[index] = quantity;
                });
            });
            
            // Sự kiện click cho tất cả các nút "Add to cart"
            var addToCartButtons = document.querySelectorAll('.add-btn');
            addToCartButtons.forEach(function(button, index) {
                button.addEventListener('click', function() {
                    // Lấy giá trị và số lượng của sản phẩm tương ứng với nút "Add to cart"
                    var productId = button.getAttribute('data-product');
                    var totalAmount = totalAmounts[index];
                    var quantity = parseInt(quantityDisplays[index].innerText);
                    var total = totalAmount.innerText;
                    
                    var data = {
                        productId: productId,
                        quantity: quantity,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }

                    $.ajax({
                        type: 'POST',
                        url: '{% url "addToCart" %}',
                        data: data,
                        success: function(response) {
                            alert('Added to cart successfully!');
                        },
                        error: function(error) {
                            alert('Failed to add to cart.');
                        }
                    });  

                    // Hiển thị giá trị và số lượng của sản phẩm
                    console.log("Total value of item " + (index + 1) + ": " + total);
                    console.log("Quantity of item " + (index + 1) + ": " + quantity);
                    console.log(data);
                });
            });
            

        });
    </script>

    {% comment %} Mới {% endcomment %}
    {% comment %} <script>
        document.addEventListener('DOMContentLoaded', function () {
            var decreaseButtons = document.querySelectorAll('.decrease-quantity');
            var increaseButtons = document.querySelectorAll('.increase-quantity');
            var quantityDisplays = document.querySelectorAll('.quantity-display');
            var totalAmounts = document.querySelectorAll('.total-amount');
            
            // Biến toàn cục để lưu trữ tổng tiền của tất cả các sản phẩm
            var totalValues = [];
            
            // Biến toàn cục để lưu trữ số lượng của tất cả các sản phẩm
            var quantities = [];
        
            decreaseButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    var quantityDisplay = quantityDisplays[index];
                    var totalAmount = totalAmounts[index];
                    var price = parseFloat(button.getAttribute('data-price'));
                    var quantity = parseInt(quantityDisplay.innerText);
        
                    if (quantity > 1) {
                        quantity--;
                        quantityDisplay.innerText = quantity;
                        var total = (quantity * price).toFixed(0) + " VND";
                        totalAmount.innerText = total;
                        // Lưu giá trị tổng tiền và số lượng vào mảng toàn cục
                        totalValues[index] = (quantity * price).toFixed(0);
                        quantities[index] = quantity;
                    }
                });
            });
        
            increaseButtons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    var quantityDisplay = quantityDisplays[index];
                    var totalAmount = totalAmounts[index];
                    var price = parseFloat(button.getAttribute('data-price'));
                    var quantity = parseInt(quantityDisplay.innerText);
        
                    quantity++;
                    quantityDisplay.innerText = quantity;
                    var total = (quantity * price).toFixed(0) + " VND";
                    totalAmount.innerText = total;
                    // Lưu giá trị tổng tiền và số lượng vào mảng toàn cục
                    totalValues[index] = (quantity * price).toFixed(0);
                    quantities[index] = quantity;
                });
            });
        
            // Sự kiện click cho tất cả các nút "Add to cart"
            var addToCartButtons = document.querySelectorAll('.add-btn');
            var removeFromCartButtons = document.querySelectorAll('.remove-btn');
        
            addToCartButtons.forEach(function(button, index) {
                button.addEventListener('click', function() {
                    // Lấy giá trị và số lượng của sản phẩm tương ứng với nút "Add to cart"
                    var totalAmount = totalAmounts[index];
                    var quantity = parseInt(quantityDisplays[index].innerText);
                    var total = totalAmount.innerText;
            
                    // Hiển thị giá trị và số lượng của sản phẩm
                    console.log("Total value of item " + (index + 1) + ": " + total);
                    console.log("Quantity of item " + (index + 1) + ": " + quantity);
        
                    // Ẩn nút "Add to cart" và hiện nút "Remove from cart"
                    button.style.display = 'none';
                    removeFromCartButtons[index].style.display = 'block';
                });
            });
        
            // Sự kiện click cho tất cả các nút "Remove from cart"
            removeFromCartButtons.forEach(function(button, index) {
                button.addEventListener('click', function() {
                    // Đặt lại giá trị số lượng và tổng tiền về 0
                    quantityDisplays[index].innerText = 1;
                    totalAmounts[index].innerText = "0 VND";
        
                    // Hiển thị lại nút "Add to cart" và ẩn nút "Remove from cart"
                    addToCartButtons[index].style.display = 'block';
                    button.style.display = 'none';
        
                    // Đặt lại giá trị tổng tiền và số lượng trong mảng toàn cục
                    totalValues[index] = 0;
                    quantities[index] = 0;

                    console.log("Total value of item " + (index + 1) + ": " + totalValues[index]);
                    console.log("Quantity of item " + (index + 1) + ": " + quantities[index]);
                });
            });
        });
        
    </script> {% endcomment %}
    
{% endblock delivery_js %} 

