{% extends "home/base.html" %}
{%load static%}

{% block location_css  %}
    <link rel="stylesheet" type="text/css" href="{% static 'locations/css/location-new.css' %}">    
{% endblock location_css %}

{% comment %} ================================================================================= {% endcomment %}
{% block location_html  %} 
    <!-- Location -->
    <div class="delivery">
        <!-- ======= Location Section ======= -->
        <section id="menu" class="menu section-bg">
            <div class="container" data-aos="fade-up">
                <div class="head">
                    <h1>LOCATIONS</h1>
                </div>
                
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter="HCMC">HCMC</li>
                        <li data-filter="HaNoi">HaNoi</li>
                        <li data-filter="DaNang">DaNang</li>
                        </ul>
                    </div>
                </div>


                              
                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                    {% for  restaurant in  restaurants %}
                    <div class="col-lg-6 menu-item" data-city="{{restaurant.city}}">
                        <img src="{{ restaurant.ImageURL}}" class="menu-img" alt="">
                        <div class="menu-content">
                            <a href="#">{{restaurant.name}}</a>
                            <p style="display:none;">{{restaurant.city}}</p>
                        </div>
                        <div class="menu-ingredients">
                            <br>
                            <button class="pulse btn-loca"><a href="{% url 'home' %}" style="color: #ed2024;">BOOK NOW</a></button>
                            <br>
                            <br>
                            <button class="pulse  btn-loca" onclick="openMap('{{restaurant.address}}')">MAP</button>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </section>
        <!-- End Location Section -->
    </div>   
    <!-- End Location -->

    
{% endblock location_html  %}
{% comment %} ================================================================================== {% endcomment %}

{% comment %} JS location {% endcomment %}
{% block location_js %}
    <script>

        $(document).ready(function() {
            // Xử lý sự kiện khi nhấp vào mỗi data-filter
            $('#menu-flters li').click(function() {
                // Lấy giá trị data-filter của mục được nhấp
                var filterValue = $(this).attr('data-filter');
    
                // Ẩn tất cả các menu-item
                $('.menu-item').hide();
    
                // Hiển thị các menu-item phù hợp với data-filter được chọn
                if (filterValue === '*') {
                    $('.menu-item').show();
                } else {
                    $('.menu-item').each(function() {
                        var city = $(this).data('city');
                        if (city === filterValue) {
                            $(this).show();
                        }
                    });
                }
    
                // Thêm lớp 'filter-active' cho mục được nhấp và xóa lớp này khỏi các mục khác
                $(this).addClass('filter-active').siblings().removeClass('filter-active');
            });
        });


        function openMap(address) {
            var formattedAddress = address.replace(/ /g, "+");
            var mapUrl = "https://www.google.com/maps/search/?api=1&query=" + formattedAddress;
            window.open(mapUrl);
        }
    </script>

{% endblock %} 