{% extends "home/base.html" %}
{%load static%}


{% block cart_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cart/css/cart.css' %}">
{% endblock cart_css%} 

{% block cart  %} 
    <!-- CONTENT -->
    <div class="cart" style="margin-top: 80px;">
        <div class="card">
            <div class="row">
                <div class="col-md-8 cart">
                    <div class="title">
                        <div class="row">
                            <div class="col"><h4><b>Shopping Cart</b></h4></div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">Total Items:</div>
                                    <div class="col text-right" id="total-items">{{ total_items }}</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>    

                    {% for item in cart_items %}
                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2" style="boder-radius:10px solid;">
                                {% if item.item.image and item.item.image.url %}
                                <img class="img-fluid" src="{{ item.item.image.url }}" alt="{{ item.item.name }}">
                                {% else %}
                                <img class="img-fluid" src="{% static 'menu_items/Filet-Duo.png' %}" alt="No image available">
                                {% endif %}
                            </div>
                            <div class="col">
                                <div class="row text-muted">{{ item.item.name }}</div>
                                <div class="row" style="display:none; ">450g</div>
                            </div>
                            <div class="col">
                                <a href="#" class="decrease" data-id="{{ item.item.id }}" data-price="{{ item.item.price.amount }}">-</a>
                                <a href="#" class="border quantity" data-id="{{ item.item.id }}">{{ item.quantity }}</a>
                                <a href="#" class="increase" data-id="{{ item.item.id }}" data-price="{{ item.item.price.amount }}">+</a>
                                <div class="row price_item" style="color: #ed2024" id="total-{{ item.item.id }}">{{ item.price }} {{ item.item.price.currency}}</div>
                            </div>
                            
                            <div class="col" >
                                <span class="close" style="cursor: pointer;" data-id="{{ item.item.id }}">&#10005;</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                    <div class="back-to-shop">
                        <a href="{% url 'delivery' %}">&leftarrow;<span class="text-muted"> Back to delivery</span></a>
                    </div>
                </div>
                
                <div class="col-md-4 summary">
                    <div><h5><b>Summary</b></h5></div>
                    <hr>
                    <div id="summary-items">
                        {% for item in cart_items %}
                            <div class="row summary-item" data-id="{{ item.item.id }}">
                                <div class="col" style="padding-left:0;">{{ item.item.name }} x<span class="summary-quantity">{{ item.quantity }}</span></div>
                                <div class="col text-right" style="color:#ed2024"><span class="summary-price">{{ item.price }}</span> {{ item.item.price.currency }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>

                    <div class="row summary-row">
                        <div class="col">Total Price:</div>
                        <div class="col text-right" id="total-price">{{ total_price }} VND</div>

                    </div>
                  <button id="checkout-btn" class="btn"><a  class="text-light">CHECK OUT</a></button> 
                </div>
                
            </div>
            
        </div>

    </div>

{% endblock cart %}

{% block cart_js %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            function updateCart(itemId, quantity, price) {
                const totalAmountElement = document.getElementById(`total-${itemId}`);
                const quantityElements = document.querySelectorAll(`.quantity[data-id="${itemId}"]`);
                const totalItemsElement = document.getElementById('total-items');
                const totalPriceElement = document.getElementById('total-price');
                const summaryQuantityElement = document.querySelector(`.summary-item[data-id="${itemId}"] .summary-quantity`);
                const summaryPriceElement = document.querySelector(`.summary-item[data-id="${itemId}"] .summary-price`);
        
                // Tính tổng tiền của từng món
                const totalPrice = (quantity * price).toFixed(0);
                totalAmountElement.innerText = `${totalPrice} VND`;
        
                // Cập nhật số lượng hiển thị
                quantityElements.forEach(element => {
                    element.innerText = quantity;
                });
        
                // Cập nhật phần Summary
                summaryQuantityElement.innerText = quantity;
                summaryPriceElement.innerText = totalPrice;
        
                // Cập nhật tổng số lượng và tổng tiền
                let totalItems = 0;
                let totalCartPrice = 0;
                document.querySelectorAll('.quantity').forEach(element => {
                    totalItems += parseInt(element.innerText);
                });
        
                document.querySelectorAll('.price_item').forEach(element => {
                    totalCartPrice += parseInt(element.innerText.replace(/\D/g, ''));
                });
        
                totalItemsElement.innerText = totalItems;
                totalPriceElement.innerText = `${totalCartPrice} VND`;

                // Sự kiện khi nhấn nút "Checkout"
                document.getElementById('checkout-btn').addEventListener('click', function () {
                    // Lấy giá trị tổng giá của tất cả sản phẩm
                    let totalCartPrice = 0;
                    document.querySelectorAll('.price_item').forEach(element => {
                        totalCartPrice += parseInt(element.innerText.replace(/\D/g, ''));
                    });

                    // Hiển thị giá trị trên console
                    console.log('Tổng giá của tất cả sản phẩm:', totalCartPrice);
                    
                });   
            }        
            document.querySelectorAll('.increase').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const itemId = this.getAttribute('data-id');
                    const price = parseFloat(this.getAttribute('data-price'));
                    const quantityElement = document.querySelector(`.quantity[data-id="${itemId}"]`);
                    let quantity = parseInt(quantityElement.innerText);
                    quantity++;
                    updateCart(itemId, quantity, price);
                });
            });
        
            document.querySelectorAll('.decrease').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const itemId = this.getAttribute('data-id');
                    const price = parseFloat(this.getAttribute('data-price'));
                    const quantityElement = document.querySelector(`.quantity[data-id="${itemId}"]`);
                    let quantity = parseInt(quantityElement.innerText);
                    if (quantity > 1) {
                        quantity--;
                        updateCart(itemId, quantity, price);
                    }
                });
            });
        
            document.querySelectorAll('.close').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    const itemId = this.getAttribute('data-id');
                    const rowElement = this.closest('.row');

                    $.ajax({
                        url: "{% url 'delete_cart' %}",
                        type: "POST",
                        data: {
                            itemId: itemId,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(response){
                            let totalPrice = 0;
                            console.log(response)
                            rowElement.remove();
                            const cartItems = response.cart_items;
                            cartItems.forEach(item => {
                                const itemId = item.item.id;
                                const totalItemPrice = parseFloat(item.total_price);
                                console.log(price);
                                totalPrice += totalItemPrice;
                                document.getElementById(`total-${itemId}`).innerText = `${totalItemPrice}`;
                            });
                            document.getElementById('total-items').innerText = response.cart_items.length;
                            document.getElementById('total-price').innerText = `${totalPrice} VND`;
                            updateCart(itemId, 0, 0); 
                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing item:", error);
                        }
                    })
                });
            });

            document.getElementById('checkout-btn').addEventListener('click', function (e) {
                e.preventDefault();
                const totalCartPrice = document.getElementById('total-price').innerText.replace(/\D/g, '');
                console.log(totalCartPrice);
                $.ajax({
                    url: "{% url 'total' %}",
                    type: "POST",
                    data: {
                        total_price: totalCartPrice,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function (response) {
                        console.log(response);
                        if (response.redirect_url) {
                            window.location.href = response.redirect_url;
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
        })
    </script>
{% endblock cart_js %}




