{% extends "home/base.html" %}
{%load static%}

{% block checkout_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'checkout/css/checkout.css' %}">
{% endblock checkout_css%}  

{% block checkout_html %} 

    <!-- CONTENT -->
    <div id="contentcheckout">
        <div class="container">
            <div class="row g-3">
                <div class="col-md-8" id="checkout">
                    <div class="heading-checkout">
                        <h1 class="d-inline-block" style="font-size: 36px; ">CHECK OUT</h1>
                        
                    </div>
    
                    <div class="checkout card">
                        
                        <div class="card-header">BILLING DETAIL</div>
    
                        <!-- Form full -->
                        <div class="form-checkout">
                            <!-- form info -->
                            <div class="form_info p-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <form action="/action_page.php" class="was-validated">
                                            <div class="mb-3 mt-3">   
                                                <input type="text" class="form-control info" id="fname" placeholder="Enter first name" name="fname" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>

                                            <div class="mb-3">                                                  
                                                <input type="tel" class="form-control info" id="phone" placeholder="Phone" name="phone" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                   
                                        </form>

                                    </div>

                                    <div class="col-md-6">
                                        <form action="/action_page.php" class="was-validated">
                                            <div class="mb-3 mt-3">   
                                                <input type="text" class="form-control info" id="lname" placeholder="Enter last name" name="lname" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>

                                            <div class="mb-3">                                                  
                                                <input type="email" class="form-control info"  id="email" placeholder="Email" name="email" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
                                            </div>
                                   
                                        </form>

                                    </div>

                                </div>


                            </div>

                            <!--Form - note  -->
                            <p class="text-region m-2">Country / Region <b>* Viet Nam</b></p>
                            <div class="form-note">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form action="/action_page.php" class="was-validated">
                                            <div class="mb-3 address-input">
                                               
                                                <input type="text" class="form-control info " id="address" placeholder="Enter Address (Required)" name="address" required>
                                                <div class="valid-feedback">Valid.</div>
                                                <div class="invalid-feedback">Please fill out this field.</div>
    
                                            </div>
                                            <div class="mb-3 textarea-input">
                                                <textarea class="form-control" name="note" id="note" rows="5" placeholder="Comment - Message"></textarea>
                                                
                                            </div>
                                                
                                        </form>
                                    </div>
                                </div>
                                

                            </div>

                            <!-- Address
                            <div class="set-address d-flex " style="font-size: 13px;">
                                <p class="set-address m-1">Set your address:</p>
                                <div class="form-check m-1">
                                    <input type="radio" class="form-check-input" id="radio1" name="address" value="option1" checked >
                                    <label class="form-check-label" for="radio1">Home</label>

                                </div>
                                <div class="form-check m-1">
                                    <input type="radio" class="form-check-input" id="radio2" name="address" value="option2">
                                    <label class="form-check-label" for="radio2">Office</label>
                                </div>
                                
                            </div>  -->

                            
                            <!-- Payment method -->
                            <div class="card payment-method mt-2 " style="font-size: 13px;">
                                <div class="card-header">
                                    <p ><b>PAYMENT METHOD</b></p>
                                </div>
                                <div class="method-pay mt-2 d-flex">
                                    <div class="form-check m-2">
                                        <input type="radio" class="form-check-input" id="radio3" name="payment" value="option1" checked >
                                        <label class="form-check-label" for="radio3">Paypal/Credit card</label>
    
                                    </div>
                                    <!-- <div class="form-check m-2">
                                        <input type="radio" class="form-check-input" id="radio4" name="payment" value="option2">
                                        <label class="form-check-label" for="radio4">Cash on Delivery</label>
                                    </div> -->
                                </div>
                            </div>
                        
                        </div>
    
                    </div>


                    <div class="text-start m-3 text-dark" style="font-size: 13px;">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.</div>

                </div>
    
                <div class="col-md-4" id="delivery">
                    <div class="heading-bill">
                        <h1 class="d-inline-block" style="font-size: 36px; " hidden="on">Delivery</h1>
                        

                        <div class="card">

                            <div class="delivery-time card-header">
                                <b>Delivery</b>
                            </div>

                            <div class="date-time d-flex mb-2">
                                <div class="date m-1 float-start" >
                                    <label class="delivery-date" for="delivery-date">Date:</label>
                                    <input class="form-control border-secondary rounded" type="date" id="delivery-date" name="">
                                </div>

                                <div class="time m-1 float-end">
                                    <label class="delivery-time" for="delivery-time">Time:</label>
                                    <input class="form-control border-secondary rounded" type="time" id="delivery-time" name="">
                                </div>
                            </div>

                            
                            
                            <div class="card-header"><b>Cart totals</b></div>
                            <div class="card-content">
                                <!-- row 1 -->
                                <div class="subtotal d-flex">
                                    <div class="subtotal-text m-2">Subtotal</div>

                                    <!-- pading = com -->
                                    <div class="paddingbangcom2" style="margin: 0 90px;"></div>
    
                                    <div class="subtotal-prices float-end m-2">{{total_price}} VNĐ</div>
                                </div>

                                <!-- row 2 -->
                                <div class="shipping d-flex">
                                    <div class="shipping-text m-2">Shipping*</div>
    
                                    <!-- pading = com -->
                                    <div class="paddingbangcom2" style="margin: 0 90px;"></div>
    
                                    <div class="free-ship float-end m-2 mb-2">FreeShip</div>
                                </div>

                                <div class="voucher mb-2  d-flex">
                                    <input id="voucherCode" type="text" class="form-control border-secondary rounded" placeholder="Voucher code">
                                    <button id="applyVoucher" class="btn bg-danger text-light">Apply</button>
                                </div>

                                <div class="vat d-flex m-2 mb-2">
                                    <p class="vat-text">VAT 8%</p>
                                    <div class="paddingbangcom2" style="margin: 0 100px;"></div>
                                    <div class="price-vat">{{total_price_8p}} VNĐ</div>
                                </div>
    
                                <!-- row 3 -->
                                <div class="total d-flex">
                                    <div class="total-text m-2 mb-3">Total</div>
                                    <!-- pading = com -->
                                    <div class="paddingbangcom2" style="margin: 0 100px;"></div>
    
                                    <div id="totalPrice" class="Total-prices float-end m-2">{{total}} VNĐ</div>
                                </div>
    
                            </div>
    
                            <!-- <button type="button" class="btn-checkout btn btn-outline-warning m-2 text-dark" >PayPal</button> -->
                            <div id="paypal-button-container"></div>
                            <!-- <button type="button" class="btn-checkout btn btn-outline-danger mb-5 m-2" >Credit card</button> -->
                        </div>

                    </div>
    
    
                </div>
            </div>
    
            
        </div>

    </div>

{% endblock checkout_html %}
{% block delivery_js %}
<script> 
// const voucher_data = JSON.parse("{{ voucher_data|escapejs }}");
document.addEventListener('DOMContentLoaded', function () {
    let applyVoucherButton = document.getElementById('applyVoucher');
    let voucherCodeInput = document.getElementById('voucherCode');
    let totalPriceElement = document.getElementById('totalPrice');
    let priceVatElement = document.querySelector('.price-vat');
    let subtotalElement = document.querySelector('.subtotal-prices'); // Lấy phần tử chứa subtotal

    applyVoucherButton.addEventListener('click', function () {
        const voucherCode = voucherCodeInput.value.trim().toLowerCase();
        let currentSubtotal = parseFloat(subtotalElement.innerText.replace(/[^\d.]/g, ''));
        let currentTotal = currentSubtotal; // Khởi tạo currentTotal bằng currentSubtotal
        let currentVAT = parseFloat(priceVatElement.innerText.replace(/[^\d.]/g, ''));

        // Tìm voucher trong dữ liệu từ context
        const voucher = JSON.parse("{{ voucher_data|escapejs }}").find(v => v.code.toLowerCase() === voucherCode);
        console.log(voucher)

        if (voucher) {
            let discount = 0;
            if (voucher.discount_type === 'percentage') {
                discount = (voucher.discount_value / 100) * currentTotal;
            } else if (voucher.discount_type === 'fixed_amount') {
                discount = voucher.discount_value;
            }

            if (discount > currentTotal) {
                alert("Số tiền giảm giá vượt quá giá trị đơn hàng.");
                return;
            }

            let  newTotal = currentTotal - discount;
            let  newVAT = (8 / 100) * newTotal;
            newTotal=newTotal+newVAT;

            // Cập nhật tổng tiền và VAT trên giao diện
            totalPriceElement.innerText = newTotal.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' VND';
            priceVatElement.innerText = newVAT.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' VND';
        } else {
            alert('Mã giảm giá không hợp lệ hoặc đã bị vô hiệu hóa.');
        }

        // Reset input voucher
        voucherCodeInput.value = '';
    });
});

</script>
<script src="https://www.paypal.com/sdk/js?client-id=AVlDeAhjA8189SXXDBwrjKrGFOvp2gubFfjuQkoA0ZQzuxsskhcUiMSZYX0tBwyf0Dqkih9tWFybkOxp&currency=USD&intent=capture" data-sdk-integration-source="button-factory"></script>
<script>
    let totalAmount = 10;
    paypal.Buttons({
        // Thiết lập cấu hình cho nút PayPal
        style: {
            layout:  'vertical',
            color:   'gold',
            shape:   'rect',
            label:   'paypal',
            tagline: false
        },
        createOrder: function (data, actions) {
            const totalAmountElement = document.getElementById('totalPrice');
            console.log(totalAmountElement.innerText);
            totalAmount = Math.round(parseFloat(
                totalAmountElement.innerText
                    .replace(/,/g, '') // Loại bỏ dấu phẩy trước
                    .replace(/[^\d.]/g, '') // Loại bỏ các ký tự không phải số và dấu chấm
            ));
            const exchangeRate = 23200; // Tỷ giá 1 USD = 23.200 VND (ví dụ)
            const totalAmountUSD = (totalAmount / exchangeRate).toFixed(2); // Làm tròn 2 chữ số thập phân
            console.log("Tổng số tiền gửi tới PayPal:", totalAmount);
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        currency_code: "USD", // Đặt mã tiền tệ thành VND
                        value: totalAmountUSD  // Sử dụng totalAmount đã được cập nhật
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Thanh toán thành công
                //Lưu form
                alert('Thanh toán thành công!');
                //////////////////////
            const totalAmountElement = document.getElementById('totalPrice');
            console.log(totalAmountElement.innerText);
            totalAmount = Math.round(parseFloat(
                totalAmountElement.innerText
                    .replace(/,/g, '') // Loại bỏ dấu phẩy trước
                    .replace(/[^\d.]/g, '') // Loại bỏ các ký tự không phải số và dấu chấm
            ));
                const formData = {
                    first_name: document.getElementById('fname').value,
                    last_name: document.getElementById('lname').value,
                    phone : document.getElementById('phone').value,
                    email:document.getElementById('email').value,
                    created_at: new Date().toISOString(),
                    address:document.getElementById('address').value,
                    payment_method: "Paypal/Credit card",
                    country: "VietNam",
                    // order_total:100,
                    delivery_time: document.getElementById('delivery-time').value,
                    delivery_date:document.getElementById('delivery-date').value,
                    // order_note:document.getElementById('note').value,
                    order_total:Math.round(parseFloat(
                                    document.getElementById('totalPrice').innerText
                                        .replace(/,/g, '') // Loại bỏ dấu phẩy trước
                                        .replace(/[^\d.]/g, '') // Loại bỏ các ký tự không phải số và dấu chấm
                                    )),

                    
                };

                // Gửi dữ liệu form tới backend (ví dụ: sử dụng fetch hoặc AJAX)
                fetch("{% url 'save_order' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                })
                .then(response => {
                    if (response.ok) {
                        alert('Thanh toán và lưu thông tin thành công!');
                        // Chuyển hướng đến trang thành công hoặc thực hiện các hành động khác
                    } else {
                        alert('Đã xảy ra lỗi khi lưu thông tin.');
                    }
                });



            });
        },
        onError: function(err) {
            // Thanh toán thất bại
            alert('Thanh toán thất bại.');
            console.error(err);
        }
    }).render('#paypal-button-container'); // Render nút PayPal vào container
</script>
{% endblock delivery_js %}

