{% extends "home/base.html" %}
{% load static %}

{% block account_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/account_2.css' %}">
{% endblock account_css %} 

{% comment %} ================================================================================= {% endcomment %}
<!-- start accounts page -->

{% block account_html %} 
    <!-- Statrt content-account -->
    <div id="content-account" class="container-fluid">
            
        <div class="row" id="test">
        
            <div class="col-md-4">
                <div class="row" id="test1">
                    <div class="col-md-3">
                        <!-- phần bên trái -->
                        <div class="info_list">
                            <!-- Phần avata -->
                            <div class="avata ms-2">
                                <!-- img avata -->
                                <div class=" avata_upload rounded-circle text-center d-flex align-items-center justify-content-center" >
                                    <label for="avatar">
                                        <i class="icon-plus ti-plus mt-1" ></i>
                                    </label>
                                </div>
    
                                <div class="form-group upload_avata text-center">
                                    <h5 class="name_user text-danger">{{ user.last_name }}</h5>
                                    <input type="file" class="form-control-file" id="avatar" name="avatar" hidden>
                                    <label for="avatar"></label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="test2">
                    <div class="col-md-10">
                        <div class="container mt-3">
                            <a href="#demo_1" class="btn btn-light" data-bs-toggle="collapse" style="width: 200px; text-align: left;">
                                
                                <h6><icon class="icon-profile ti-user me-1" ></icon>PROFILE</h6>
                            </a>
                            <div id="demo_1" class="collapse" >
                                <ul class="menu list-unstyled no-decoration">
                                  <li class="nav-item">
                                    <a class="nav-link ms-2 text-danger " href="#demo1" data-bs-toggle="collapse">Profile Infomation</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link ms-2 text-danger " href="#demo2" data-bs-toggle="collapse">Reservation</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link ms-2 text-danger " href="#demo3" data-bs-toggle="collapse">Edit Profile</a>
                                  </li>
                                </ul>
                              </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row" id="test3">
                    <div class="col-md-10">
                        <div class="container mt-3">
                            <a href="#demo_2" class="btn btn-light" data-bs-toggle="collapse" style="width: 200px; text-align: left;">
                                <h6><icon class="icon-oder ti-notepad me-1"></icon>PURCHASE ORDER</h6>
                            </a>
                            <div id="demo_2" class="collapse">
                                <ul class="menu list-unstyled no-decoration ">
                                    <li><a class="ms-2 text-danger" href="#demo4" data-bs-toggle="collapse">All</a></li>
                                    <li><a class="ms-2 text-danger" href="#demo5" data-bs-toggle="collapse">Delivering</a></li>
                                    <li><a class="ms-2 text-danger" href="#demo6" data-bs-toggle="collapse">Deliverd</a></li>
                                </ul>
                              
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="row" id="test4">
                    <div class="col">
                        <button type="button" class="btn-signout btn btn-outline-danger ms-2 mt-3"><a class="" href="{% url 'logout' %}" style="color: green;">Sign out</a></button>
                    </div>
                </div>

        </div>
        
            

        

            <div class="col-md-8" id="accordion">
                <!-- phần bên phải -->
                <div id="demo1" class="info_profile collapse show" data-bs-parent="#accordion"> 

                    <div class="card" style="margin-top: 20px;">
                        <h5 class="heading_profile " style="text-align: center; padding-top: 10px;">PROFILE INFORMATION</h5>
                    </div>
                    
                    <form  action="{% url 'account' %}" method="post">
                        {% csrf_token %}

                        <div class="card" style="padding: 10px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-1 mt-1">
                                        <label for="username" class="form-label">Last name</label>
                                        <input type="text" class="form-control bg-white" id="username" name="username" value="{{user.last_name}}" placeholder="{{ user.last_name }}">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-1 mt-1">
                                        <label for="fullname" class="form-label">First name</label>
                                        <input type="text" class="form-control bg-white" id="fullname" name="fullname" value="{{user.first_name}}" placeholder="{{ user.first_name }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-1 mt-1">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control bg-white" id="email" name="email" value="{{user.email}}" placeholder="{{ user.email }}" disabled>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="mb-1 mt-1">
                                        <label for="phone" class="form-label">Phone</label>
                                        <input type="tel" class="form-control bg-white" id="phone" name="phone" value="{{user.phone}}" placeholder="{{ user.phone }}" >
                                    </div>
                                </div>
                            </div>

                            {% comment %} <div class="row">
                                <div class="col-md-2">
                                    <div class="mb-1 mt-1">
                                        <label for="gender" class="form-label">Gender</label>
                                        <select name="gender" id="gender" class="form-select form-contro">
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="mb-1 mt-1">
                                        <label for="date" class="form-label">Birthday</label>
                                        <input type="text" class="form-control " id="date" name="date" placeholder="24-03-2005" >
                                    </div>
                                </div>
                            </div> {% endcomment %}

                            <div class="row">
                                <div class="text-center" style="margin: 20px 0px;" >
                                    <button type="submit" class="btn btn-danger" style="width: 200px; ">SAVE</button>
                            
                                </div>
                            </div>

                        </div>

                    </form>
                    
                </div>
                <div id="demo2" class="RESERVATION  collapse" data-bs-parent="#accordion">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">RESERVATION</h5> 
                        </div>
                        <div class="card-body">
                            {% if bookings %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Họ và tên</th>
                                            <th>Ngày đặt</th>
                                            <th>Giờ đặt</th>
                                            <th>Số lượng khách</th>
                                            <th>Thời gian tạo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for booking in bookings %}
                                            <tr>
                                                <td>{{ booking.fname }} {{ booking.lname }}</td>
                                                <td>{{ booking.choice_date }}</td>
                                                <td>{{ booking.choice_time }}</td>
                                                <td>{{ booking.select_size }}</td>
                                                <td>{{ booking.created_at }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="text-center text-muted">Chưa có thông tin đặt bàn.</p>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>

                <div id="demo3" class="change_passwd  collapse" data-bs-parent="#accordion">

                    <div class="card" style="margin-top: 20px;">
                        <h5 class="heading_profile" style="text-align: center; padding-top: 10px;">Edit Profile</h5>
                    </div>
                    
                    <form action="/action_page.php" method="get" class="was-validated">
                        <div class="card">
                            <div class="d-flex justify-content-center">
                                <div class="row m-1">
                                    <div class="col-16">
                                        <div class="mb-1">
                                            <input type="password" class="form-control form-outline-danger" id="currpwd" placeholder="Enter Currrent Password" name="currpswd" required>
                                            <div class="valid-feedback"></div>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="row m-1">
                                    <div class="col-16">
                                        <div class="mb-1">
                                            <input type="password" class="form-control" id="newwpwd" placeholder="Enter New Password" name="newpswd" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <div class="row m-1">
                                    <div class="col-16">
                                        <div class="mb-1">
                                            <input type="password" class="form-control" id="cofpwd" placeholder="Confirm Your Password" name="cofpswd" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center" style="margin-bottom: 20px;">
                                    <button type="button" class="btn btn-danger" style="width: 200px;">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                </div>


                <!-- Phần mua hàng -->
                <div id="demo4" class="RESERVATION  collapse" data-bs-parent="#accordion">

                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h5 class="mb-0">DELIVERY</h5> 
                        </div>
                        <div class="card-body">
                            {% if bookings %}
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Họ và tên</th>
                                            <th>Ngày giao</th>
                                            <th>Giờ giao</th>
                                            <th>SĐT</th>
                                            <th>Email</th>
                                            <th>Địa chỉ</th>
                                            <th>Thời gian tạo</th>
                                            <th>Tổng tiền</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td>{{ order.first_name }} {{ order.last_name }} </td>
                                                <td>{{ order.delivery_date }}</td>
                                                <td>{{ order.delivery_time }}</td>
                                                <td>{{ order.phone }}</td>
                                                <td>{{ order.email }}</td>
                                                <td>{{ order.address }}</td>
                                                <td>{{ order.created_at }}</td>
                                                <td>{{ order.order_total }} VNĐ</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="text-center text-muted">Chưa có thông tin.</p>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>

                <div id="demo5" class="RESERVATION  collapse" data-bs-parent="#accordion">

                    <div class="card">
                        <h5 class="heading_profile p-2">DELIVERING</h5>
                    </div>
                                          
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                #item
                            </div>                              
                        </div>

                        <div class="row">
                            <div class="col">#item</div>                              
                        </div>

                    </div>
                    
                </div>

                <div id="demo6" class="RESERVATION  collapse" data-bs-parent="#accordion">

                    <div class="card">
                        <h5 class="heading_profile p-2">DELIVERED</h5>
                    </div>
                                          
                    <div class="card">
                        <div class="row">
                            <div class="col">
                                #item
                            </div>                              
                        </div>

                        <div class="row">
                            <div class="col">#item</div>                              
                        </div>

                    </div>
                    
                </div>

            </div>


        </div>

    </div>

{% endblock account_html %}
<!-- end accounts page -->