{% extends "app/base.html" %}
{%load static%}


{% block cart_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/cart.css' %}">
{% endblock cart_css%} 

{% block cart  %} 
    <!-- CONTENT -->
    <div id="content-cart">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="heading-cart">
                        <h1 class="d-inline-block">CART</h1>
                        <span class="">(1 PRODUCT)</span>
                    </div>
    
                    <div class="card">
                        <div class="card-header">ALL PRODUCT</div>
    
                        <!-- Item full Item1-->
                        <div class="item d-flex">
                            <!-- item info -->
                            <div class="item_info d-flex p-2">
                                <img src="{% static '/app/images/img-cart/beef.png' %}" class="rounded m-1 " alt="item" height="90" width="95">
                                <div class="card-content ">
                                    <div class="info-item-name">Name: Beef</div>
                                    <div class="info-item-weigh">weight: 200g</div>
                                    <div class="info-item-note">Note: Well done</div>
                                 </div>   
                            </div>
    
                            <!-- pading = com -->
                            <div class="paddingbangcom"></div>
    
                            <!-- item choise mount -->
                            <div class="item_mount float-end p-2 text-center">
                                <div class="price text-danger">200.000VND</div>
                                <div class="btn-mount d-flex">
                                    <button type="button" class="btn btn-outline-secondary">-</button>
                                    <input type="text" class="display-mount form-control"  placeholder="1" readonly>
                                    <button type="button" class="btn btn-outline-secondary">+</button>
                                </div>
                                <div class="edit_remove text-danger">Edit | Remove</div>
                            </div>               
                        </div>
                        <!--End Item full Item 1-->
    
                        <!-- Item full Item2-->
                        <div class="item d-flex">
                            <!-- item info -->
                            <div class="item_info d-flex p-2">
                                <img src="{% static '/app/images/img-cart/beef.png' %}" class="rounded m-1 " alt="item" height="90" width="95">
                                <div class="card-content ">
                                    <div class="info-item-name">Name: Beef</div>
                                    <div class="info-item-weigh">weight: 200g</div>
                                    <div class="info-item-note">Note: Well done</div>
                                 </div>   
                            </div>
    
                            <!-- pading = com -->
                            <div class="paddingbangcom"></div>
                            
                            <!-- item choise mount -->
                            <div class="item_mount float-end p-2 text-center">
                                <div class="price text-danger">200.000VND</div>
                                <div class="btn-mount d-flex">
                                    <button type="button" class="btn btn-outline-secondary">-</button>
                                    <input type="text" class="display-mount form-control"  placeholder="1" readonly>
                                    <button type="button" class="btn btn-outline-secondary">+</button>
                                </div>
                                <div class="edit_remove text-danger">Edit | Remove</div>
                            </div>
                                                 
                        </div>
                    
                    </div>
                    <!--End Item full Item 2-->
                    
                    <!--back menu-->          
                    <div class="choose-more m-2 "><a href="{% url 'home' %}" class="text-decoration-none text-danger">CHOOSE MORE FOOD</a></div>

                </div>
    
                <!--Bill--> 
                <div class="col-4">
                    <div class="heading-bill">
                        <h1 class="d-inline-block">Bill</h1>
                        <span class="">(1 PRODUCT)</span>
                        <div class="card">
                            <div class="card-header">CART TOTALS</div>
                            <div class="card-content">
                                <!-- row 1 -->
                                <div class="subtotal d-flex">
                                    <div class="subtotal-text m-2">Subtotal</div>
                                    <!-- pading = com -->
                                    <div class="paddingbangcom2"></div>
    
                                    <div class="subtotal-prices float-end m-2">400.000VND</div>
                                </div>
    
                                <!-- row 2 -->
                                <div class="shipping d-flex">
                                    <div class="shipping-text m-2">Shipping*</div>
    
                                    <!-- pading = com -->
                                    <div class="paddingbangcom2"></div>
    
                                    <div class="free-ship float-end m-2">FreeShip</div>
                                </div>
    
                                <!-- row 3 -->
                                <div class="total d-flex">
                                    <div class="total-text m-2">Total</div>
                                    <!-- pading = com -->
                                    <div class="paddingbangcom2"></div>
    
                                    <div class="Total-prices float-end m-2">400.000VND</div>
                                </div>
    
                            </div>

                            <button type="button" class="btn-checkout btn btn-outline-danger m-2" ><a href="{% url "checkout" %}" class="text-light">CHECK OUT</a></button>

                        </div>
                    </div>
    
    
                </div>
            </div>
    
            
        </div>

    </div>

{% endblock cart %}

