{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       

        <link rel="stylesheet" type="text/css" href="{% static 'app/css/promotion.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'menu/css/menu.css' %}">
        
        {% comment %} css bootstrap {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <!-- Font Awesome CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        {% comment %} css của mình {% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/nav.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app/css/footer.css' %}">
        

    </head>
    <body>
        <!-- Begin Nav -->
        <nav class="navbar navbar-expand-lg navbar-custom fixed-top" >
            <a class="navbar-brand" href="#">
                <img src="path/to/logo.png" alt="Logo" style="height: 50px; width: 70px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="border: #ED2024;">
                <span class="navbar-toggler-icon navbar-light"> <i class="fa fa-align-justify" title="Align Justify" style="margin-top: 5px;"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{% url 'menu' %}" id="menuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                            
                        </a>
                        <div class="dropdown-menu" aria-labelledby="menuDropdown">
                            <a class="dropdown-item" href="{% url 'menu' %}">ALL</a>
                            <a class="dropdown-item" href="#">Beef</a>
                            <a class="dropdown-item" href="#">Chicken</a>
                            <a class="dropdown-item" href="#">Soups</a>
                            <a class="dropdown-item" href="#">Drink</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'delivery' %}">Delivery</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="locationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Location
                            
                        </a>
                        <div class="dropdown-menu" aria-labelledby="locationDropdown">
                            <a class="dropdown-item" href="{% url 'locations' %}">All</a>
                            <a class="dropdown-item" href="{% url 'locations' %}">Ho Chi Minh</a>
                            <a class="dropdown-item" href="#">Ha Noi</a>
                            <a class="dropdown-item" href="#">Da Nang</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "home" %}">Event
                            
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "cart" %}">Cart
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account' %}">{{user.first_name}}
                            <i class="fas fa-user"></i> 
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Nav -->


        <!-- start home page -->
        {% block home_css %}{% endblock home_css%} 
        {% block homepage  %} {% endblock homepage  %}
        {% block home_promotion  %} {% endblock home_promotion  %}
        <!-- end home page -->

        <!-- start event page -->
        {% block event_css %}{% endblock event_css%} 
        {% block eventpage  %} {% endblock eventpage %}
        <!-- end event page -->

        <!-- start menu page -->
        {% block menu_html %}{% endblock menu_html%} 
        <!-- end menu page -->

        <!-- start delivery page -->
        {% block delivery_css %}{% endblock delivery_css %} 
        {% block delivery_html %}{% endblock delivery_html %} 
        <!-- end delivery page -->

        <!-- start cart page -->
        {% block cart_css %}{% endblock cart_css%} 
        {% block cart  %} {% endblock cart %}
        <!-- end cart page -->

        <!-- start checkout page -->
        {% block checkout_css %} {% endblock checkout_css %}
        {% block checkout_html %} {% endblock checkout_html %}
        <!-- end checkout page -->

        {% comment %} <!-- start sign up, sigin in page -->
        {% block signin_signup_css %}{% endblock signin_signup_css%} 
        {% block signup  %} {% endblock signup %}
        {% block signin  %} {% endblock signin %}
        <!-- end sign up, sigin in page --> {% endcomment %}

        <!-- start location page -->
        {% block account_css  %} {% endblock account_css %}
        {% block account_html  %} {% endblock account_html %}
        <!-- end checkout page -->

        <!-- start location page -->
        {% block location_css  %} {% endblock location_css %}
        {% block location_html  %} {% endblock location_html %}
        <!-- end checkout page -->




        <!-- start footer -->
        <footer class=" footer mt-3" style="background: #fff;">
            <div class="footer-top py-8">
                <div class="container">
                    <div class="row gy-5">
                        <div class="col-lg-8 pe-xxl-10">
                            <div class="row gy-5">
                                <div class="col-6 col-lg-4">
                                    <h5 class="text-dark footer-title-01">A propos</h5>
                                    <ul class="list-unstyled footer-link-01 m-0">
                                        <li><a class="text-dark text-opacity-75" href="#">About Us</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Blog</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Our ingredients</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Our resellers</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h5 class="text-dark footer-title-01">About</h5>
                                    <ul class="list-unstyled footer-link-01 m-0">
                                        <li><a class="text-dark text-opacity-75" href="#">Customer Service</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Privacy Policy</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Cookie Policy</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Terms &amp; Conditions</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Terms of Use</a></li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h5 class="text-dark footer-title-01">Need Help?</h5>
                                    <ul class="list-unstyled footer-link-01 m-0">
                                        <li><a class="text-dark text-opacity-75" href="#">Contact Us</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">FAQs</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Offers &amp; Kits</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Get the app</a></li>
                                        <li><a class="text-dark text-opacity-75" href="#">Store locator</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h5 class="text-dark footer-title-01 fs-5">Subscribe to our newsletter and get 15% off your next order.</h5>
                            <div>
                                <form class="d-flex flex-row mb-2 p-1 bg-white input-group"><input type="email" class="form-control rounded border-danger " placeholder="Your Email"> <button class="btn btn-danger flex-shrink-0" type="submit">Subscribe</button></form>
                                <p class="fs-sm text-dark text-opacity-75">I agree to receive Absolution newsletters</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom small py-3 border-top border-dark border-opacity-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start py-1">
                            <p class="m-0 text-dark text-opacity-75">© 2022 copyright by <a class="text-reset" href="#">bootdey.com</a></p>
                        </div>
                        <div class="col-md-6 text-center text-md-end py-1">
                            <ul class="nav justify-content-center justify-content-md-end list-unstyled footer-link-01 m-0">
                                <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-dark text-opacity-75">Privace &amp; Policy</a></li>
                                <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-dark text-opacity-75">Faq's</a></li>
                                <li class="p-0 mx-3 ms-md-0 me-md-3"><a href="#" class="text-dark text-opacity-75">Get a Quote</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->

        <script src="{% static 'home/js/cart.js' %}"></script>
        <!-- Bootstrap JS and dependencies -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        {% block location_js  %} {% endblock location_js %}
        {% block menu_js  %} {% endblock menu_js %}
        {% block delivery_js %}{% endblock delivery_js %} 
        
    </body>
</html>
