{% extends "home/base.html" %}
{%load static%}

{% block home_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/slider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/info_book.css' %}">
    <script src="{% static 'app/js/bookevent.js' %}"></script>
{% endblock %} 

{% comment %} ================================================================================= {% endcomment %}
{% block homepage  %} 
    <!-- Begin slider book table -->
    <div id="slider">
        <div class="background">

            <div class="book-table">

                <div class="sloder-text collapse show mt-5" id="demo">
                    <div class="sologan">
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class=" " >Embark on a journey of culinary delight at our restaurant</p>
                        <p class=" " >Where every meal becomes an adventure filled with creativity and excitement!</p>
                    </div>
                    
                </div>

                 <!-- Form -BOOK-table -->
                <div class="book-table-form collapse" id="demo">
                    <br>
                    <h1 class="book-heading text-white"><i class="icon-book ti-notepad"></i><b class="">BOOK A TABLE</b></h1>

                    <!-- Begin form -->
                    <form action="" class="was-validated form-book mx-2" method="post" id="booking-form">
                        {% csrf_token %}
                        <!-- Begin line1 -->
                        <div class="row line1">
                            <!-- select location -->
                            <div class="col-md-3 ">
                                <div class="mb-1 mt-1 d-flex">
                                    <select name="select_location" id="select-location" aria-placeholder="Restaurant" class="modal-select form-select form-select-lg" style="font-size: 18px">
                                        <option value="HN" >NHOM7 | TRANG TIEN, HOAN KIEM | HANOI</option>
                                        <option value="HN">NHOM7 | BA DINH, BA DINH | HANOI</option>
                                        <option value="HN">NHOM7 | SOMERSET TAY HO, TAY HO | HANOI</option>
                                        <option value="HCM">NHOM7 | XUAN THUY, THU DUC | HCMC</option>
                                        <option value="DN">NHOM7 | LE LOI, D1 | HCMC</option>
                                        <option value="DN">NHOM7| PHU MY HUNG, D7 | HCMC</option>
                                        <option value="DN">NHOM7 | AN HAI TAY, SON TRA | DANANG</option>
                                    </select>
                                    <!-- <i class="icon ti-location-pin" ></i> -->
                                </div>
                            </div>

                            <!-- select size -->
                            <div class="col-md-3 ">
                                <div class="mb-1 mt-1 d-flex">
                                    
                                    <select name="select_size" id="party-size" class="modal-select form-select form-select-lg" aria-placeholder="party-size" >
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    
                                    <!-- <i class="icon ti-user"></i>   -->
                                </div>
                            </div>

                            <!-- select date -->
                            <div class="col-md-3">
                                <div class="mb-1 mt-1">   
                                    <input type="date" class="form-control form-control-lg date " id="date" name="choice_date" required>
                                    <div class="valid-feedback check-valid" ></div>
                                    <div class="invalid-feedback check-valid"></div>
                                    <div style="display: block !important; color: red !important;" class="invalid-feedback" id="choice_date-error"></div>
                                </div>
                            </div>

                            <!-- select time -->
                            <div class="col-md-3">
                                <div class="mb-1 mt-1" >   
                                    <input type="time" class="form-control form-control-lg time" id="time"  name="choice_time" required>
                                    <div class="valid-feedback check-valid"></div>
                                    <div class="invalid-feedback check-valid"></div>
                                </div>
                            </div>

                        </div>
                        <!-- end line1 -->

                        <!-- Begin line2 -->
                        <div class="row  mt-2 line2">

                            <!-- fname -->
                            <div class="col-md-3">
                                <div class="mb-1 mt-1">   
                                    <input type="text" class="form-control form-control-lg info" id="fname" value="{{user.first_name}}" placeholder="Enter first name" name="fname" required>
                                    <div class="valid-feedback check-valid"></div>
                                    <div class="invalid-feedback check-valid"></div>
                                </div>
                            </div>

                            <!-- lname -->
                            <div class="col-md-3">
                                <div class="mb-1 mt-1">   
                                    <input type="text" class="form-control form-control-lg info" id="lname" value="{{user.last_name}}" placeholder="Enter last name" name="lname" required>
                                    <div class="valid-feedback check-valid"></div>
                                    <div class="invalid-feedback check-valid"></div>
                                </div>
                            </div>

                            <!-- phone -->
                            <div class="col-md-3">
                                <div class="mb-1 mt-1">   
                                    <input type="tel" class="form-control form-control-lg info" id="phone" value="{{user.phone}}" placeholder="Phone" name="phone" required>
                                    <div class="valid-feedback check-valid" ></div>
                                    <div class="invalid-feedback check-valid"></div>
                                    <div style="display: block !important; color: red !important;" class="invalid-feedback" id="phone-error" >
                                    </div>
                                </div>
                            </div>

                            <!-- email -->
                            <div class="col-md-3">
                                <div class="mb-1 mt-1" >   
                                    <input type="email" class="form-control form-control-lg info" id="email" value="{{user.email}}" placeholder="Email" name="email" required>
                                    <div class="valid-feedback check-valid"></div>
                                    <div class="invalid-feedback check-valid"></div>
                                    <div style="display: block !important; color: red !important;" class="invalid-feedback" id="email-error"></div>
                                </div>
                            </div>

                        </div>
                        <!-- end line2 -->

                        <!-- Begin line 3 -->
                        <div class="row line3 mt-2">
                            <div class="mb-2 mt-1 d-flex">
                                <select name="size_party" id="select-party" aria-placeholder="Choose party size" class="modal-select form-select form-select-lg" >
                                    <option value="Birthday">Birthday</option>
                                    <option value="Anniversary">Anniversary</option>
                                    <option value="Bussiness">Bussiness Meeting</option>
                                    <option value="Party">Party</option>
                                    <option value="Other">Other</option>
                                </select>
                                <!-- <i class="icon ti-location-pin" ></i> -->
                                
                            </div>
                            <!-- End line 3 -->

                        </div>

                        <!-- Begin line 4 -->
                        <div class="row line4 mt-2">
                            <div class="col">
                                <textarea class="mb-1 mt-1 form-control" name="note" id="note"  rows="3" placeholder="*Note"></textarea>
                            </div>
                            
                            <div style="display: block !important; color: red !important;" class="invalid-feedback" id="note-error"></div>
                        </div>
                        <!-- End line 4 -->

                        <button type="submit" class="btn-book btn-submit btn mx-auto" id="submitbtn" >Submit</button>
                    
                    </form>
                    <!-- End form -->

                </div>
                <button type="button" class="btn-book btn collapse show" id="booknowbtn" onclick="display_submit()" data-bs-toggle="collapse" data-bs-target="#demo" style="background-color: #ed2024; color: #fff; border: none;">Book Now</button>

            </div>
           

        </div>

    </div>
    <!-- End slider -->

{% endblock homepage  %}

{% block home_promotion  %}
    <!-- Begin Promotion -->
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol>
                
        <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="text-container">
                            <h2>SUPER TUESDAY</h2>
                            <p> In light of the overwhelming success of Super Tuesdays, we're spreading the joy to ALL OUR LOCATIONS, offering a 50% discount on all cooked steaks every first Tuesday of the month for the whole year 2024, for everyone to enjoy and embrace what we have to offer.</p>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="image-container">
                            <img src="{% static 'app/images/imgs-home/banner1.jpg' %}" alt="Image">
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="text-container">
                            <h2>BURGER SPECIALS</h2>
                            <p>Our special burgers redefine the dining experience with a 220g homemade patty made from our cuts of beef. You can choose various tasty options, from the classic to cheddar cheese and topped with foie gras, all are juicy, delicious, and will keep you wanting more. All our burgers come with fries or mixed green salad.</p>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="image-container">
                            <img src="{% static 'app/images/imgs-home/banner2.jpg' %}" alt="Image">
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-6">
                          <div class="text-container">
                            <h2>ALL-TIME FAVORITES</h2>
                            <p>El Gaucho’s All-time Favorites are available all day, offering a variety of high-quality steaks including New York Striploin, Filet, Rib Eye and our Homemade Burgers with the same exceptional quality at affordable prices.</p>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="image-container">
                            <img src="{% static 'app/images/imgs-home/banner3.jpg' %}" alt="Image">
                          </div>
                        </div>
                      </div>
                </div>
            </div>
    </div>
    <!-- End Promotion -->

    <!--Begin About-us -->
    <div class="about-us">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h1 class="about-heading">ABOUT US</h1>
                    <h2 class="about-sub-heading">OUR EL GAUCHO STEAKHOUSE – CONTEMPORARY AND SPECIALISED</h2>
                    <p class="about-text">El Gaucho is an upscale Argentina themed steakhouse restaurant chain, first established in 2011. As a privately owned and financially independent venture with today 28 well-established locations in Europe and Asia, owner and management enjoy a great reputation with customers and partners and combine an extraordinary skill set in the industry and beyond. With this well-proven and unique upscale business concept, the owner aims to drive expansion in main European and Asian cities, operating 44 locations by the end of 2026. In addition, we are launching for the first time franchise opportunities in the Gulf region, poised to take our successful brand to new heights.</p>
              </div>
              <div class="col-md-6">
                <img src="{% static 'app/images/imgs-home/Family collage.png' %}" class="img-fluid" alt="Hình ảnh">
              </div>
            </div>
          </div>
    </div>
    <!--End About-us -->
{% endblock home_promotion  %}
{% comment %} ================================================================================== {% endcomment %}

{% block book_succsess_info  %} 



{% endblock book_succsess_info  %}
{% comment %} ==================================================================================== {% endcomment %}

{% block delivery_js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
    $(document).ready(function() {
      $('#booking-form').submit(function(event) {
        event.preventDefault(); 
        $('.invalid-feedback').empty();
    
        var formData = $(this).serialize();
    
        $.ajax({
          url: "{% url 'reservations:booking' %}",
          type: 'POST',
          data: formData,
          success: function(response) {
            if (response.success) {
              window.location.href = response.redirect_url;
            } else {
              $('.invalid-feedback').empty();
              $('.form-control').removeClass('is-invalid').removeClass('is-valid');
              for (var field in response.errors) {
                  if (response.errors.hasOwnProperty(field)) {
                      var errorMessages = response.errors[field];
                      var $errorContainer = $('#' + field + '-error');
                      $errorContainer.empty(); 
                      for (var i = 0; i < errorMessages.length; i++) {
                          $errorContainer.append('<div class="error">' + errorMessages[i] + '</div>');
                      }
                  }
              }
            }
          },
          error: function(xhr) {
            console.error('Lỗi:', xhr.responseText); 
          }
        });
      });
    });
    </script>
{% endblock delivery_js %} 