{% extends "home/base.html" %}
{%load static%}


{% block menu_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'menu/css/menu.css' %}">
{% endblock menu_css%} 

{% comment %} ================================================================================= {% endcomment %}
{% block menu_html  %} 
    <!-- Menu -->
    <!-- search -->
    <div class="menu">
      <nav class="navbar1">
        <form class="form-inline">
            <div class="search-container">
                <input class="search-input" placeholder="Search" aria-label="Search">
                <button class="search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
      </nav>

      <!-- List menu -->
      <!-- ======= Menu Section ======= -->
      <section id="menu" class="menu section-bg">
        <div class="container" data-aos="fade-up">
          <div class="head">
          <h1>MENU</h1>
        </div>
            
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              <ul id="menu-flters">
                  <li id="All" data-filter="*" class="filter-active">All</li>
                  <li id="Popular" data-filter="POPULAR">Popular</li>
                  <li id="Beef" data-filter="BEEF">Beef</li>
                  <li id="Soup" data-filter="SOUP">Soup &amp; Salad</li>
                  <li id="Drink" data-filter="DRINK">Drink</li>
              </ul>
          </div>
      </div>
              
                
        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

          {% for  menuItem in  menuItems %}
          <div class="col-lg-6 menu-item" data-type="{{menuItem.item_type}}">
            <img src="{{ menuItem.ImageURL}}" class="menu-img" alt="">

            <div class="menu-content">
              <a href="#">{{menuItem.name}}</a><span>{{ menuItem.price.amount}} {{menuItem.price.currency}} </span>
            </div>

            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          {% endfor %}
              
          {% comment %} <div class="col-lg-6 menu-item filter-specialty">
                        <img src="/Retaurant_manage/assets/img/img-menu/2.jpg" class="menu-img" alt="">
                        <div class="menu-content">
                          <a href="#">Bread Barrel</a><span>$6.95</span>
                        </div>
                          <div class="menu-ingredients">
                            Lorem, deren, trataro, filede, nerada
                          </div>
          </div> {% endcomment %}
              
        </div>
      </section>
    </div>

    <!-- js for fillter list -->
    <!-- End menu -->
{% endblock menu_html  %}

{% comment %} ================================================================================== {% endcomment %}

{% comment %} JS menu {% endcomment %}
{% block menu_js %}
  <script>
    $(document).ready(function() {
      // Xử lý sự kiện khi nhấp vào mỗi data-filter
      $('#menu-flters li').click(function() {
          // Lấy giá trị data-filter của mục được nhấp
          var filterValue = $(this).attr('data-filter');

          // Ẩn tất cả các menu-item
          $('.menu-item').hide();

          // Hiển thị các menu-item phù hợp với data-filter được chọn
          if (filterValue === '*') {
              $('.menu-item').show();
          } else {
              $('.menu-item').each(function() {
                  var type = $(this).data('type');
                  if (type === filterValue) {
                      $(this).show();
                  }
              });
          }

          // Thêm lớp 'filter-active' cho mục được nhấp và xóa lớp này khỏi các mục khác
          $(this).addClass('filter-active').siblings().removeClass('filter-active');
      });
  });
  </script>
    
{% endblock menu_js %}
